@use "../utilities/colors" as *;
@use "../utilities/variables" as *;
@use "../mixins/transform-mixins";
@use "../mixins/decorations-mixins";

// Styles for images gallery section
.images-gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    height: 100vw;

    @media screen and (min-width: 768px) {
        grid-template-rows: none;
        grid-template-columns: repeat(4, 1fr);

        height: 300px;
    }

    @media screen and (min-width: 1024px) {
        height: 450px;
    }

    @media screen and (min-width: 1600px) {
        height: 30vw;
    }

    &__image {
        $images: "milkbottles", "orange", "cone", "sugar-cubes";

        @each $img-name in $images {
            &--#{$img-name} {
                @include decorations-mixins.bg-image("/src/images/mobile/image-gallery-#{$img-name}.jpg");

                @media screen and (min-width: 768px) {
                    background-image: url("/src/images/desktop/image-gallery-#{$img-name}.jpg");
                }
            }
        }
    }
}
