@use "../utilities/colors" as *;
@use "../utilities/variables" as *;
@use "../mixins/transform-mixins";

// Styles for footer section component
.footer {
    background-color: $footer-background-color;

    &__main {
        padding: 50px 0 60px 0;

        text-align: center;

        @media screen and (min-width: 768px) {
            padding: 80px 0;
        }
    }

    &__logo {
        margin-bottom: 25px;

        @media screen and (min-width: 768px) {
            margin-bottom: 35px;

            transform: scale(1.2);
        }

        > #logo-path {
            fill: $footer-color;
        }
    }

    &__links {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-bottom: 80px;
        }
    }

    &__link {
        margin: 0 20px;

        color: $footer-color;
        font-family: $barlow-font;
        text-decoration: none;
        font-size: 0.8em;

        @media screen and (min-width: 768px) {
            margin: 0 25px;

            font-size: 0.9em;
        }
    }

    &__icon-link {
        margin: 0 10px;

        text-decoration: none;
    }

    &__icon {
        @include transform-mixins.size(18px);

        @media screen and (min-width: 768px) {
            @include transform-mixins.size(20px);
        }
    }

    &__attribution {
        padding: 15px 0;

        background-color: $footer-color;

        color: $footer-background-color;
        font-family: $barlow-font;
        text-align: center;
        line-height: 25px;
    }

    &__attribution-link {
        text-decoration: none;
        color: $yellow;
    }
}
